.userCard{
    display: flex;
    flex-direction: column;
    border : 1px solid cyan;
    border-radius: 19px;
    padding: 10px;
    text-decoration: none;
    color : black;
}

.userCard > img {
    width: 200px;
    height: 200px;
}