.profilePage {
    width: 1200px;
    margin: 0 auto;
}


.profilePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description b{
 display: block;
}

.plus {
    font-size: 20px;
    cursor: pointer;
}