.usersCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.usersPage, .profilePage {
    width: 1200px;
    margin: 0 auto;
}

.pagination-block {
    margin: 10px;
}

.pagination-block > button {
    margin: 0 5px;
}

.profilePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description b{
 display: block;
}


.login-page {
    margin: 0 auto;
    width: 360px;
    padding: 15px;
    border : 1px solid gray;
    border-radius: 16px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.form {
    display: flex;
    flex-direction: column;
    gap : 40px;

}

.form > p {
    color : red;
}
.form > input {
    margin-top: 15px;
}
.login-input{
    height: 35px;
}

.login-button {
    height: 35px;
}

.plus {
    font-size: 20px;
    cursor: pointer;
}