
.login-page {
    margin: 0 auto;
    width: 360px;
    padding: 15px;
    border : 1px solid gray;
    border-radius: 16px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.form {
    display: flex;
    flex-direction: column;
    gap : 40px;

}

.form > p {
    color : red;
}
.form > input {
    margin-top: 15px;
}
.login-input{
    height: 35px;
}

.login-button {
    height: 35px;
}